@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  scroll-behavior: smooth;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "quicksand";
  src: url("https://raw.githubusercontent.com/maylangomes/Assets/main/Quicksand-Regular.otf");
}

@font-face {
  font-family: "glametrix";
  src: url("https://raw.githubusercontent.com/maylangomes/Assets/main/Glametrix-oj9A.otf");
}

@font-face {
  font-family: "montserrat";
  src: url("https://raw.githubusercontent.com/maylangomes/Assets/main/Montserrat-VariableFont_wght.ttf");
}
